In [1]:
import pandas as pd

# pandas.melt
pandas.melt(frame, id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None)[source]¶

转化为以id_vars值为分组的值形式

frame : DataFrame
id_vars : tuple, list, or ndarray, optional
Column(s) to use as identifier variables.

value_vars : tuple, list, or ndarray, optional
Column(s) to unpivot. If not specified, uses all columns that are not set as id_vars.

var_name : scalar
Name to use for the ‘variable’ column. If None it uses frame.columns.name or ‘variable’.

value_name : scalar, default ‘value’
Name to use for the ‘value’ column.

col_level : int or string, optional
If columns are a MultiIndex then use this level to melt.

In [2]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                        'B': {0: 1, 1: 3, 2: 5},
                        'C': {0: 2, 1: 4, 2: 6}})
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [7]:
# 以A的值作为列，展示对应的 B 的值
print(pd.melt(df, id_vars=['A'], value_vars=['B']))
print()
print(pd.melt(df, id_vars=['A'], value_vars=['B','C']))
print()
print(pd.melt(df, id_vars=['A', 'C'], value_vars=['B']))

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

   A  C variable  value
0  a  2        B      1
1  b  4        B      3
2  c  6        B      5

In [8]:
print(pd.melt(df, id_vars=['A'], value_vars=['B'], var_name="name_v", value_name="name_cl"))

   A name_v  name_cl
0  a      B        1
1  b      B        3
2  c      B        5

# pandas.pivot

以数据里面的数据为索引重先整理数据

pandas.pivot(data, index=None, columns=None, values=None)[source]

Parameters:	
data : DataFrame

index : string or object, optional
Column to use to make new frame’s index. If None, uses existing index.

columns : string or object
Column to use to make new frame’s columns.

values : string, object or a list of the previous, optional
Column(s) to use for populating new frame’s values. If not specified, all remaining columns will be used and the result will have hierarchically indexed columns.

Changed in version 0.23.0: Also accept list of column names.

In [10]:
>>> df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
...                            'two'],
...                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
...                    'baz': [1, 2, 3, 4, 5, 6],
...                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
>>> df

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [11]:
# 以 foo 的值作为行 bar 的值作为列 baz的值作为显示
df.pivot(index='foo', columns='bar', values='baz')

bar  A  B  C
foo
one  1  2  3
two  4  5  6

In [12]:
df.pivot(index='foo', columns='bar')['baz']

bar  A  B  C
foo
one  1  2  3
two  4  5  6

In [13]:
df.pivot(index='foo', columns='bar', values=['baz', 'zoo'])

    baz       zoo
bar   A  B  C   A  B  C
foo
one   1  2  3   x  y  z
two   4  5  6   q  w  t