# 数据准备

In [14]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv("/Users/zhouwencheng/Desktop/Grass/05 AI/05 jupyter/10 data/titanic_train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 数据处理

In [45]:
df.Age = df.Age.fillna(df.Age.mean())
df.Embarked = df.Embarked.fillna('S') 

df.Sex = df.Sex.map({'male':0, 'female':1})

df.Embarked = df.Embarked.map({'S':0, 'C':1, 'Q':2}) 

df = df.drop(['Cabin', 'Name', 'Ticket'], axis = 1)

x_train = df.loc[:, df.columns != 'Survived']
y_train = df.loc[:, df.columns == 'Survived']

In [47]:
x_train.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1       3    0  22.0      1      0   7.2500         0
1            2       1    1  38.0      1      0  71.2833         1
2            3       3    1  26.0      0      0   7.9250         0
3            4       1    1  35.0      1      0  53.1000         0
4            5       3    0  35.0      0      0   8.0500         0

## 测试数据处理

In [48]:
df_test = pd.read_csv("/Users/zhouwencheng/Desktop/Grass/05 AI/05 jupyter/10 data/titanic_test.csv")
df_test.Age = df_test.Age.fillna(df_test.Age.mean())
df_test.Embarked = df_test.Embarked.fillna('S') 
df_test.Sex = df_test.Sex.map({'male':0, 'female':1})
df_test.Embarked = df_test.Embarked.map({'S':0, 'C':1, 'Q':2}) 
df_test = df_test.drop(['Cabin', 'Name', 'Ticket'], axis = 1)

x_test = df_test.loc[:, df_test.columns != 'Survived']
y_test = df_test.loc[:, df_test.columns == 'Survived']

# 随机森林

In [49]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import model_selection

In [53]:
rf = RandomForestClassifier(random_state=1, n_estimators=10, min_samples_split=2, min_samples_leaf=1)

kf = model_selection.KFold(n_splits=3, random_state=1)
scores = model_selection.cross_val_score(rf, x_train, y_train.values.ravel(), cv=kf)

print(scores.mean())

0.7845117845117846

In [54]:
rf = RandomForestClassifier(random_state=1, n_estimators=100, min_samples_split=3, min_samples_leaf=2)

kf = model_selection.KFold(n_splits=3, random_state=1)
scores = model_selection.cross_val_score(rf, x_train, y_train.values.ravel(), cv=kf)

print(scores.mean())

0.8249158249158249

# 参数说明

class sklearn.ensemble.RandomForestClassifier(n_estimators=10, criterion='gini', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features=’auto’, max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=1, random_state=None, verbose=0, warm_start=False, class_weight=None)

## n_estimators 
- 随机森林中树的棵树  默认是10棵。

## criterion
- 样本集切分策略,默认是gini指数，此时树模型为CART模型，当值选为信息增益的时候，模型就成了ID3模型，默认为CART模型。

## bootstrap
- 是统计学中的一种重采样技术，可以简单理解成是有放回地抽样，默认是True,即采取有放回抽样这种策略，这不就是bagging的思想么。

## oob_score
- 袋外估计(out-of-bag)，这个外是针对于bagging这个袋子而言的，我们知道，bagging采取的随机抽样的方式去建立树模型，那么那些未被抽取到的样本集，也就是未参与建立树模型的数据集就是袋外数据集，我们就可以用这部分数据集去验证模型效果，默认值为False。

# 属性

## estimators_：打印输出随机森林中所有的树。

## classes_：输出样本集的类别。

## n_classes_：输出类别数量。

## n_features_：特征数量。

## n_outputs_：当模型被fit时的输出维度。看看下图来感受一些这个属性。

## feature_importances_：特征重要性。

## oob_score_：袋外估计准确率得分，必须是oob_score参数选择True的时候才可用。

## oob_decision_function_：袋外估计对应的决策函数。

# 方法

## apply(X)：将训练好的模型应用在数据集X上，并返回数据集X对应的叶指数。

## decision_function(X):返回决策函数值（比如svm中的决策距离）

## fit(X,Y):在数据集（X,Y）上训练模型。

## get_parms():获取模型参数

## predict(X):预测数据集X的结果。

## predict_log_proba(X):预测数据集X的对数概率。

## predict_proba(X):预测数据集X的概率值。

## score(X,Y):输出数据集（X,Y）在模型上的准确率。